@font-face {
    font-family: AlumniSans-Bold;
    src: url(../../assets/resources/fonts/Alumni_Sans/static/AlumniSans-Bold.ttf)
}

@font-face {
    font-family: AlumniSans-Regular;
    src: url(../../assets/resources/fonts/Alumni_Sans/static/AlumniSans-Regular.ttf)
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Cores*/
.cor-roxa {
    background-color: #052C65;
}

.cor-branca {
    background-color: white;
}

/* Larguras*/
.largura-93 {
    width: 93%;
}

/* Alturas*/
.altura-97 {
    height: 97%;
}

/*Contentores*/

@media (max-width: 576px) {
    .contentor-pequeno {
        display: flex;
        overflow: hidden;
    }
}

@media (max-width: 720px) {
    .contentor-medio {
        display: flex;
        overflow: hidden;
    }
}

@media (max-width: 960px) {
    .contentor-grande {
        display: flex;
        overflow: hidden;
    }
}

/* Margens*/
.margem-auto {
    margin: auto;
}

.margem-topo-8 {
    margin-top: 80px;
}

/* Bordas*/
.b-raio-1 {
    border-radius: .5em;
}

.borda-1 {
    border: 1px solid black;
}

/* Grids*/
.grelha-2-colunas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grelha-1-coluna {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

#corpo {
    font-size: 20px;
    width: 100%;
    height: 100%;
}